<div class="sub-titles">
  <h1>All Current Articles</h1>
</div>

{{#unless articles}}
  <div class="notFound">NO ARTICLES FOUND</div>
{{/unless}}

{{#each articles}}
  <div class="articles">
    <h2>Title: {{title}}</h2>
    <p>Author: {{author}}</p>
    <form action="/articles/{{urlTitle}}" method="get" accept-charset="utf-8">
      <button type="submit">Go To Article</button>
    </form>
  </div>
{{/each}}

<a href="/articles/new" class='linkButtons'>WRITE NEW ARTICLE</a>