<h1>Edit AN ARTICLE</h1>
<form action="/articles{{title}}?_method=PUT" method="post">
  Title: <input type="text" name="title"><br>
  Author: <input type="text" name="author"><br>
  Body: <input type="text" name="body"><br>
  <input type="submit" value="Submit">
</form>

<form action="/articles{{title}}?_method=DELETE" method="post">
  Type title to confirm delete: <input type="text" name="title"><br>
  <input type="submit" value="DELETE ARTICLE">
</form>