<h1>{{title}}</h1>
<h3>{{author}}</h3>
<p>{{body}}</p>
<form action="/articles" method="get" accept-charset="utf-8">
  <button type='submit'>Back to Articles List</button>
</form>

<form action="/articles/{{urlTitle}}/edit" method="get" accept-charset="utf-8">
  <button type='submit'>EDIT THIS ARTICLE</button>
</form>