<div class="single-view">
  <h1 class="title-name">{{title}}</h1>
  <h3 class="author">By: {{author}}</h3>
  <p class="article-body">{{body}}</p>
</div>

<div class="single-forms">
  <form action="/articles/{{urlTitle}}/edit" method="get" accept-charset="utf-8">
    <button type='submit'>EDIT THIS ARTICLE</button>
  </form>

  <form action="/articles" method="get" accept-charset="utf-8">
    <button type='submit'>Back to Articles List</button>
  </form>
</div>