<h1>All Current Products</h1>

{{#each products}}
  <div class="products">
    <h2>{{name}}</h2>
    <h3>Quantity {{inventory}}</h3>
    <form action="/products/{{id}}" method="get" accept-charset="utf-8">
      <button type="submit">See Price</button>
    </form>
  </div>
{{/each}}

<a href="/products/new" class='linkButtons'>ADD NEW PRODUCT</a>