<form action="http://localhost:8888/articles" method="post">
  Title: <input type="text" name="title"><br>
  Author: <input type="text" name="author"><br>
  Body: <input type="text" name="body"><br>
  <input type="submit" value="Submit">
</form>