body {
  background-color: #FFF;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $basefont;
  height: 100%;
  justify-content: center;
  width: 100%;

  .titles {
    background-color: blue;
    border-radius: 75%;
    font-size: 800%;
    line-height: 200%;
    margin: 4%;
    text-align: center;
    width: 75%;
  }

  #products-title, #articles-title {
    background-color: red;
    font-size: 500%;
    line-height: 150%;
    margin: 4%;
    text-align: center;
    width: 75%;
  }

  .sub-titles {
    background-color: blue;
    border-radius: 75%;
    font-size: 400%;
    line-height: 150%;
    margin: 4%;
    text-align: center;
    width: 75%;
  }

  .notFound {
    background-color: red;
    font-size: 500%;
    line-height: 150%;
    margin: 4%;
    text-align: center;
    width: 75%;
  }

  .articles {
    background-color: red;
    display: flex;
    font-size: 200%;
    justify-content: space-around;
    line-height: 200%;
    margin: 1%;
    text-align: center;
    width: 75%;

    button {
      background-color: red;
      border: 0.5% solid blue;
      box-shadow: 1% 1% 1% $lightblue;
      color: white;
    }
  }

  .linkButtons {
    background-color: red;
    color: black;
    font-size: 500%;
    line-height: 150%;
    margin: 4%;
    text-align: center;
    width: 75%;
  }


}